<main role="main">
  <h1 class="huge">{{teamName}}</h1>

  <section role="section">

    <dl class="horizontal">
      <dt>API key</dt>
      <dd>{{apiKey}}</dd>
    </dl>

    <dl class="horizontal">
      <dt class="spacious"><a href="/boss" class="no-underline btn--flat">Challenge a Boss</a></dt>
      <dt class="spacious"><a href="/versus/levels" class="no-underline btn--flat">Create a Versus Match</a></dt>
    </dl>
  </section>

  <section role="section">
    <h2>Join an existing Versus Match</h2>
    {{#if versusGames.length}}
    <ul class="versus-list">
      {{#each versusGames}}
      <li class="versus-item">
        <a href="/game/{{id}}">
          <span>{{id}} – {{levelId}} {{#if teams.length}}</span>
          <span class="joined-teams">[{{#each teams}}{{this}}{{#if @last}}{{else}}, {{/if}}{{/each}}]</span>{{/if}}
        </a>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <h3>Empty :'(</h3>
    {{/if}}
  </section>

  <section role="section">
    <h2>Team Ranking</h2>
    <p>This ranking is based on all your completed Versus Matches which were played against another registered team.</p>
    <ol class="ranking-list">
      {{#each ranking}}
      <li class="ranking{{#if obfuscated}} obfuscated{{/if}}">
        <span class="team-name">{{teamName}}</span>
        <span class="stats">
          <span class="ratio">{{ratio}}</span>
          <span class="details">{{wins}} / {{numberOfGames}}</span>
        </span>
      </li>
      {{/each}}
    </ol>
  </section>

</main>
